ul{
    list-style-type: none;
}

.nav-links a{
    text-decoration: none;
    color: #ccdbdc;
}

/* NAVBAR */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 10vh;
    background-color: #0882a9;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 40%;
}

.nav-links a{
    display: inline-block;
    font-size: 15px;
    transform: scale(1, 1.2);
}

.nav-links a:hover{
    border-bottom: 2px #003249 solid; 
    color: #003249;
}

.responsive{
    max-width: 100%;
    width:350px;
    height:auto;
}

.burger{
    display: none;
    cursor: pointer;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color:#003249;
    margin: 5px;
}

@media screen and (max-width:1036px){
    body, html{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 25vh;
        top:8vh;
        background-color: #0882a9;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 37%;
        visibility: hidden;
        transition: transform 0.5s ease-in;
        z-index: 1;
    }

    .burger{
        display: block;
    }

    /* .responsive{
        transform: translateY(-180%);
    }

    #vectorimage{
        transform: translateY(50%);
    } */

    #companies{
        padding-top: 20px;
    }    

}

.nav-active{
    visibility:visible;
}