/* NAVBAR */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 10vh;
    background-color: #0882a9;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 40%;
}

.nav-links a{
    display: inline-block;
    font-size: 15px;
    transform: scale(1, 1.2);
}

.nav-links a:hover{
    border-bottom: 2px #003249 solid; 
    color: #003249;
}


.responsive{
    max-width: 100%;
    width:350px;
    height:auto;
}

.burger{
    display: none;
    cursor: pointer;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color:#003249;
    margin: 5px;
}

@media screen and (max-width:1036px){
    body, html{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 25vh;
        top:8vh;
        background-color: #0882a9;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 37%;
        visibility: hidden;
        transition: transform 0.5s ease-in;
        z-index: 1;
    }

    .burger{
        display: block;
    }

    /* .responsive{
        transform: translateY(-180%);
    }
    #vectorimage{
        transform: translateY(50%);
    } */

    #companies{
        padding-top: 20px;
    }    

}

.nav-active{
    visibility:visible;
}


.sidebar-item {
	/* position: absolute; */
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	
	/* Position the items 
	// &:nth-child(2) { top: 25%; }
	// &:nth-child(3) { top: 50%; }
	// &:nth-child(4) { top: 75%; }*/

}

.make-me-sticky {
  position: -webkit-sticky;
	position: sticky;
	top: 0;
    
  padding: 0 15px;
}

.sidebar-item {
  text-align: center;
	background: #def0f1;
  max-width: 20rem;
	max-height: 70rem;
  margin: 3rem auto;
  padding: 2rem 0;
  border-bottom: solid 1px #fff;
}

.sidebar-item2 {
  text-align: center;
	background: white;
  max-width: 20rem;
	max-height: 10rem;
  margin: 3rem auto;
  padding: 2rem 0;
  border-bottom: solid 1px #fff;
}
