@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* BASE CSS */

:root
{
  --main-bg-color:#e7d9ea;
  --border-color:#28a7e9;
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.tabs .tab a{
  color:#0b4f74 !important;
  font-weight:bolder;
  text-decoration:none;
} /*Black color to the text*/

.tabs .indicator {
  background-color:#0b4f74 !important;
} /*Color of underline*/

html{
  overflow-x: hidden;
}

.logo
{
    width:50px;
    height:60px;
}
body
{
    background-color:#f4f9f9;
    font-family:'Roboto', sans-serif;
}

.form-control{
  font-size:1.2vw !important;
}

#upload{
  font-size: 1.2vw;
}

h1{
  color:#076483 !important; 
  font-weight:bolder !important;
  font-size:3vw !important;
}

/* NAVBAR */

.navb{
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 10vh;
  background-color: #0882a9;
  z-index: 1;
}

.navb ul{
  list-style-type: none !important;
}

.nav-links a{
  text-decoration: none !important;
  color: #ccdbdc;
}

.nav-links{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 40%;
}

.nav-links a{
  display: inline-block;
  font-size: 9.5px;
  transform: scale(1.1, 1.8);
}


.nav-links a:hover{
  border-bottom: 2px #003249 solid; 
  color: #003249;
}

.responsive{
  max-width: 100%;
  width:350px;
  height:auto;
}

.burger{
  display: none;
  cursor: pointer;
}

.burger div{
  width: 25px;
  height: 3px;
  background-color:#003249;
  margin: 5px;
}


/* Navigation Bar */
/* ul{
  list-style-type: none;
}

.nav-links a
{
  text-decoration: none;
  color: #ccdbdc;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 10vh;
  background-color: #0882a9;
  z-index:1;
}

.nav-links{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 40%;
}

.nav-links a{
  display: inline-block;
  font-size: 15px;
  transform: scale(1, 1.2);
}

.nav-links a:hover{
  border-bottom: 2px #003249 solid; 
  color: #003249;
}

.responsive{
  max-width: 100%;
  width:350px;
  height:auto;
}

.burger{
  display: none;
  cursor: pointer;
}

.burger div{
  width: 25px;
  height: 3px;
  background-color:#003249;
  margin: 5px;
}*/

animate
{
  padding: 0px 10px 0px 0px;
  transition: all ease 0.4s;
}

.user-basic
{
  margin-top:120px;
  padding:20px;
  position: relative;
  /* box-shadow: 5px 10px#28a7e9; */
  background-color: #fff;
  box-shadow: 7px -6px 112px -90px rgba(154,209,212,0.61);
-webkit-box-shadow: 7px -6px 112px -90px rgba(154,209,212,0.61);
-moz-box-shadow: 7px -6px 112px -90px rgba(154,209,212,0.61);
}

/* ---------PROFILE IMAGE------------ */
.image_card
{
     margin:auto; 
    display:table;
    background-color: #fff;
    padding:50px 50px;
    box-shadow:0px 0px 5px #ddd;
    
}

.profile-image
{
    width: 150px;
    height:150px;
    background: #fff;
    border-radius: 50%;
    overflow:hidden;
}

.profile-image img
{
    width: 100%;
    height:100%;
    object-fit: cover;
}

.custom-file input[type='file']
{
    display: none;
}

.custom-file label
{
   cursor:pointer;
   color:#000;
   text-align: center;
   display: table;
   /* margin:auto; */
   margin-top:15px;
   margin-left:20px;
}

/* ------------------FORM-------------------- */

.contact-form
{
    margin-top: 30px;
}
.form-control
{
    border:none;
    border-bottom: 2px solid silver;
}

.button
{
    background-color: #ffffff;
    padding-bottom:30px;
    margin-bottom:40px;
}

.btn2
{
   background: #0d335d;
   color: #fff;
   border: none;
   padding:12px 33px;
   border-radius:10%;
}

.btn1
{
   background:none;
   color:#0d335d;
   border-color:#0d335d;
   padding:10px 23px;
   border-radius:10%;
   margin-right:34%;
}

.textres
{
   cursor:pointer;
   text-align:center;
   margin:15px;
   margin-left:20px;
   color: #007ea7;
   font-family: Roboto (Medium);
   font-size: 35;
}

/* .resume-file input[type='file']
{
    display: none;
}

.resume-file label
{
   cursor:pointer;
   color:#000;
   text-align:left;
   display: table;
   /* margin:auto;
   margin:15px;
   margin-left:0px;
} */
/* .result
{
    text-align:center;
    font-size:50px;
    font-weight:800;
    margin-left:20px;
    margin-right:20px;
    padding-right:30%;
}  */

/* .user-basic .drop-zone
{
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}
.user-basic .upload-container
{
  background:#ffffff;
  border-radius:25px;
  box-shadow:0px 20px 20px #0000002e;
}

.user-basic .drop-zone
{
  width: 500px;
  min-height:200px;
  border:2px dashed var(--border-color);
  margin:30px;
  border-radius: 10px;
  transition:all .2s ease ;
}
.user-basic .dragged.drop-zone
{
  background:#faf4ff;
   border-color:#28a7e9;
}
.user-basic .icon-container
{
   width:75px;
   height: 100px;
   position:relative;
}

.user-basic .icon-container img
{
   width:75px;
   position:absolute;
   transform-origin: bottom ;
   transition: transform 250ms ease-in-out;
}

.user-basic .icon-container .center
{
 z-index: 2;
}

.user-basic .icon-container .right, .icon-container .left
{
  transform:scale(.9);
}

.user-basic .dragged .icon-container .right
{
  transform:rotate(10deg) translateX(20px) scale(.9);
}

.user-basic .dragged .icon-container .left
{
  transform:rotate(-10deg) translateX(-20px) scale(.9);
}
.user-basic .dragged .icon-container .center
{
  transform:translateY(-5px);
}

#fileInput
{
  display: none;
}

.browseBtn
{
  color:#28a7e9;
  cursor: pointer;
} */

#myPdf
{
   justify-content: center;
}

/* ----------ACHIEVEMENTS---------------- */
.achievements
{
    box-shadow: 2px 0px 183px -55px rgba(154,209,212,0.61);
    -webkit-box-shadow: 2px 0px 183px -55px rgba(154,209,212,0.61);
    -moz-box-shadow: 2px 0px 183px -55px rgba(154,209,212,0.61);
    margin-top:40px;
    height:80vh;
    background-color: #fff;

}
 h1
 {
     text-align: center;
     color:#003249;
     font-family:'Roboto',sans-serif;
     font-size:45px;
     font-weight: 500;
 }

 h2
 {
     text-align: center;
     color:#dddddd ;
     justify-content: center;
 }

 /* ----------SELECTED COMPANIES---------------- */
 .company{
  box-shadow: 2px 0px 183px -55px rgba(154,209,212,0.61);
  -webkit-box-shadow: 2px 0px 183px -55px rgba(154,209,212,0.61);
  -moz-box-shadow: 2px 0px 183px -55px rgba(154,209,212,0.61);
  margin-top:40px;
  height:100%;
  background-color: #fff;
  padding-bottom:40px;
}

.cards
{
  padding:50px;
}

.two-cards{
  display:flex;
  justify-content:space-evenly;
}

.card
{ 
  padding:30px 50px;
  margin:10px 30px;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}


@media screen and (max-width:750px){
  body, html{
      overflow-x: hidden;
  }
  .nav-links{
      position: absolute;
      right: 0px;
      height: 25vh;
      top:8vh;
      background-color: #0882a9;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 50%;
      visibility: hidden;
      transition: transform 0.5s ease-in;
      z-index: 1;
  }

  .burger{
      display: block;
  }

  #companies{
      padding-top: 20px;
  }

  .two-cards{
    flex-direction:column;
  }

  .form-control{
    font-size:5vw !important;
  }
  
  #upload{
    font-size: 5vw;
  }

  h1{
    font-weight:bolder !important;
    font-size:10vw !important;
  }

}

.nav-active{
  visibility:visible;
}
