* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

ul{
  list-style-type: none;
}

.nav-links a{
  text-decoration: none;
  color: #ccdbdc;
}

/* VIEW APPLICANTS */
.container {
  padding: 1rem;
}

.heading {
  display: flex;
  justify-content: center;
  font-size: 3vw;
  font-weight: 700;
}

.section-name {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  font-size: 2vw;
  font-weight: 700;
  color: #2d90ac;
}

.card {
  background-color: #ccdcdc;
  height: fit-content;
  color: #133949;
  border-radius: 12px;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);
}

.name-section {
  display: flex;
  justify-content: flex-start;
  color: #02324a;
  font-weight: 700;
  border-right: 2px solid #fff;
}

.company-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #02324a;
  font-weight: 700;
  border-right: 2px solid #fff;
}

.position-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #02324a;
  font-weight: 700;
}

.vertical_line {
  border-right: 3px solid #fff;
}

.p-left {
  padding-left: 2rem;
}

.main-body
  > :nth-child(even)
  > :nth-child(1)
  > :nth-child(1)
  > :nth-child(1)
  > :nth-child(1)
  > :nth-child(1){
    border-right: 2px solid #147696;
}

.main-body
  > :nth-child(even)
  > :nth-child(1)
  > :nth-child(1)
  > :nth-child(1)
  > :nth-child(2){
    border-right: 2px solid #147696;
}

.main-body > :nth-child(even) > :nth-child(1) {
  background-color: #fff;
}

@media screen and (max-width: 768px) {
  .section-name {
    display: none;
  }

  .heading {
    font-size: 7vw;
  }

  .name-section{
      border-right: none;
  }

  .company-section{
      border-right: none;
  }

  .main-body
  > :nth-child(even)
  > :nth-child(1)
  > :nth-child(1)
  > :nth-child(1)
  > :nth-child(1)
  > :nth-child(1){
    border-right: none;
  }

  .main-body
  > :nth-child(even)
  > :nth-child(1)
  > :nth-child(1)
  > :nth-child(1)
  > :nth-child(2){
    border-right: none;
  }

}

/* NAVBAR */

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 10vh;
  background-color: #0882a9;
}

.nav-links{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 40%;
}

.nav-links a{
  display: inline-block;
  font-size: 15px;
  transform: scale(1, 1.2);
}

.nav-links a:hover{
  border-bottom: 2px #003249 solid; 
  color: #003249;
}

.responsive{
  max-width: 100%;
  width:350px;
  height:auto;
}

.burger{
  display: none;
  cursor: pointer;
}

.burger div{
  width: 25px;
  height: 3px;
  background-color:#003249;
  margin: 5px;
}

@media screen and (max-width:1036px){
  body, html{
      overflow-x: hidden;
  }
  .nav-links{
      position: absolute;
      right: 0px;
      height: 25vh;
      top:8vh;
      background-color: #0882a9;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 37%;
      visibility: hidden;
      transition: transform 0.5s ease-in;
      z-index: 1;
  }

  .burger{
      display: block;
  }

  #companies{
      padding-top: 20px;
  }    

}

.nav-active{
  visibility:visible;
}
